body *{
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    color: #4C4C6D;
    font-weight: 80px;
    font-size: 40px;
    font-family: 'Mulish', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    color: #4C4C6D;
    font-family: 'Mulish', sans-serif;
    font-weight: 90px;
    font-size: 30px;
}
h3 {
    color: #4C4C6D;
    font-weight: 90px;
    font-size: 25px;
}

h4 {
    color: #4C4C6D;
    font-family: 'Mulish', sans-serif;
    font-weight: 90px;
    font-size: 30px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    background-color:#4C4C6D
}

.page {
    width: 850px;
    background-color:#B8DFD8;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
    border-radius: 10px;
}

.vis-container {
    width: 100%;
    margin-left: 25px;
}
.vis-container2 {
    width: 100%;
    margin-left: 50px;
}
.vis-container3 {
    width: 100%;
    margin-left: 200px;
}
.vis-container_heat {
    width: 100%;
    margin-left: 90px;
}

.vis-container4 {
    width: 100%;
    margin-left: 200px;
}

.vis-container5 {
    width: 100%;
    margin-left: 65px;
}

.vis-container-scatter {
    width: 100%;
    margin-left: 100px;
}

.vis-container-area {
    width: 100%;
    margin-left: 100px;
}
.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    background-color: #E8F6EF;
    font-family: 'Poppins', sans-serif;
}

.small-font {
    font-size: 14px;
}

.big {
    font-size: 100px;
    font-weight: 50px;
}
#center {
    text-align: center;
    }
p.ex1 {
        margin-left: 50%;
      }
#left {
    text-align: left;
    }

p {
    font-family: 'Space Mono', monospace;
    font-weight: bolder;
    font-size: 12px;
    margin-left: 30px;
    margin-right: 30px;
}

p2 {
    font-family: 'Space Mono', monospace;
    font-weight: bolder;
    font-size: 12px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

p3 {
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    margin-left: 80px;
    margin-top: 10px;
}

.pure-g2 {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    background-color: #FFF9B0;
    
}